@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';
@import 'https://fonts.googleapis.com/css?family=Roboto';


$red: #e74c3c;
$gunmetal: #2B293D;
$isabelline: #EBEBEB;
$pastelgray: #CAD2C5;
$green: #2ecc71;

.bg {
  background: #CAD2C5;
  margin-top: 50px;
}
.collapse {
  color: red;
}
.logo {
  position: fixed;
  height: 50px;
  left: 45vw;
}
.sitename {
  color: #e74c3c;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.sitename small{
  color: #e67e22;
}
.sitename mark{
  color: #e67e22;
}
.jumbotron {
  background-image: url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/bg.png');
  height: 50vh;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
.btn {
  margin-right: 20px;
  background-color: transparent;
}
.go {
background-color: #2B293D;
color: white;
font-family: 'Roboto', sans-serif;
font-size:16px;
padding:6px 0px;
width: 5%;
}
.go:hover {
background-color:#2ecc71;
}
.go:active {
  position: relative;
  top: 1px;
}
.navbar-search {
  background-color: #CAD2C5;
  height: 50px;
  position: fixed;
  top: -50px;
  left: 0px;
  right: 0px;
}
.navbar-search input[type=text] {
    text-align: center;
    background-color: transparent;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 40px;
    width: 94%;
    box-sizing: border-box;
    border: 0px groove #333;
    border-radius: 4px;
    font-size: 20px;
    background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-128.png');
    background-size: 30px;
    background-position: 10px 4px;
    background-repeat: no-repeat;
    padding: 4px 20px 4px 40px;
}

 /* On smaller screens, decrease text size */
 @media only screen and (max-width: 400px) {
   .sitename {left: 10px;}
   .logo {display: none;}
   .jumbotron {height: 35vh;}
 }

@media only screen and (max-width: 770px) {
  .navbar-btn {display: none;}
  .navbar-search {top: 146px; background-color: #CAD2C5; width: 110vw;}
  .go {width: 20%; position: relative; left: 39%;}
}
